<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
  <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <script>
  $(function() {
    $( "#fromTime" ).datepicker();
  });
    $(function() {
    $( "#ToTime" ).datepicker();
  });
    $(function() {
    $( "#DepTime" ).datepicker();
  });
    $(function() {
    $( "#BackTime" ).datepicker();
  });
  
  /*$(document).ready(function(){
      $("#search").click(function(){
        var a = $("#from").val();
        var b = $("#to").val();
 
        $.get("//",{'a':a,'b':b}, function(ret){
            $('#result').html(ret)
        })
      });
    });

  */
  
  </script>
  
  
  
  
  
    <title>{%block title%}Cheaper Travel Solution{% endblock%}</title>
</head>
<body>


{% block content%}
<div></div>
{% endblock%}    


</body>
</html>